{% extends 'portal/base.html'%}
{% load static %}

{% block sideLinks %}
              <a href="{% url 'dashboard' %}" class="list-group-item ">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Dashboard
              </a>
              <a href="{% url 'transactions' %}" class="list-group-item"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Transactions </a>
              <!--<a href="posts.html" class="list-group-item"> <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Account Statement </a>-->
              <a href="{% url 'application' %}" class="list-group-item"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Apply For Loan </a>
              <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Payment Evidence </a>
              <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Withdrawal Request </a>
              <!--<a href="user.html" class="list-group-item"> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Coop Shop </a>-->
              <!--<a href="user.html" class="list-group-item"> <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> E-Wallet Transactions </a>-->
              <a href="{% url 'shop-index' %}" class="list-group-item active main-color-bg"> <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Shop </a>
{% endblock sideLinks %}

{% load crispy_forms_tags %}

{% block mainContent %}

<section id="shop-header">
    <a href="#"><img src="{% static 'portal/img/logo.png' %}" class="logo" alt=""></a>

    <div>
        <ul id="shop-navbar">
            <li><a href="{% url 'shop-index' %}" >Home</a> </li>
            <li><a href="{% url 'categories' %}" class="active">Categories</a> </li>
            <li><a href="">Cart <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></a></li>
        </ul>
    </div>

</section>

<div class="myshop">

<section id="hero">
    <!--<h4>Trade-In-Offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>save more with coupons & up to 70% off!</p>-->
    <button>
        Shop Now
    </button>
</section>



<section id="product1" class="section-p1"> 
    <h2>Featured Products</h2>
    <!--<p>Variety of Offerings We Have</p>-->
    <div class="pro-container">
        <div class="pro">
            <img src="/static/portal/img/products/golden-morn.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Golden Morn 10g</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/milo.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Milo Sachet 500g</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/peak-milk.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Peak Milk</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/caprice-25.jpg" alt="">
            <div class="des">
                <span>Softweb Coop Shop</span>
                <h5>Cap Rice 25kg</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/ariel-500g.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Ariel Detergent 500g</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/kings-gnutoil.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Groundnut Oil</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/spaghetti.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Dangote Spaghetti</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section id="product1" class="section-p1"> 
    <h2>New Arrivals</h2>
    <p>Fresh Stock Of These Products Just Arrived</p>
    <div class="pro-container">
        <div class="pro">
            <img src="/static/portal/img/products/golden-morn.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Golden Morn 10g</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/milo.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Milo Sachet 500g</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/peak-milk.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Peak Milk</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/caprice-25.jpg" alt="">
            <div class="des">
                <span>Softweb Coop Shop</span>
                <h5>Cap Rice 25kg</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/ariel-500g.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Ariel Detergent 500g</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/kings-gnutoil.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Groundnut Oil</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="/static/portal/img/products/spaghetti.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Dangote Spaghetti</h5>
                <div class="star">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                </div>
                <h4>N 1,700.00 </h4>
            </div>
                <a href="#"><i class="glyphicon glyphicon-shopping-cart cart"></i></a>
        </div>
    </div>
</section>


<footer class="section-p1">
    <div class="col">
        <!--<img class="logo" src="{% static 'portal/img/logo.png' %}" alt="">-->
        <h4>Contact</h4>
        <p><strong>Address:</strong> No 5 Greg Anisha Street, Asaba, Delta State</p>
        <p><strong>Phone:</strong> +2348034686552 / +2347030088134</p>
        <p><strong>Enquiry Hours:</strong> Mondays To Saturdays From 9am - 4pm </p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">View Cart</a>
        <a href="#">Track My Order</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="copyright">
        <p>@ 2023 Softweb Coop Shop - Powered By Softweb Systems</p>
    </div>

</footer>


</div>
  
{% endblock mainContent %}