{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
    <title>
    {% block titleContent %}
    Coop Portal | Reset Password 
    {% endblock titleContent %}
    </title>
    
            {% block headerContent %}
            <h3 class="text-center"> CIVIL SERVANTS MPCS PORTAL</h3>
            <h4 class="text-center"><small> Reset Password</small></h4>
            {% endblock headerContent %}
          
          {% block mainContent %}
          <div class="col-md-4 col-md-offset-4">      
              <form method = "POST" id="login" class="well">
                {% csrf_token %}
                
                {{ form | crispy }}

                <div>
                    <button type="submit" class="btn btn-default">Request Password Reset</button>
                </div>

                
              </form>

          </div>

 {% endblock mainContent %}